body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.switcher-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.switcher-li {
  text-align: center;
  border-bottom: 2px solid #d4d9dd;
  padding: 60px 0;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  pointer-events: none; }
  .switcher-li:hover {
    border-bottom: 1px solid #3a3f42; }

.switcher-a {
  font-family: Arial;
  font-weight: bold;
  font-size: 27px;
  color: #d4d9dd;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s; }

.switcher-item {
  margin-top: 200px; }

.box-title {
  font-family: Arial;
  font-size: 50px;
  font-weight: normal;
  color: #1b2125;
  margin-bottom: 115px; }

.box-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.box-button {
  padding: 45px 85px;
  font-family: Arial;
  font-size: 27px;
  font-weight: bold;
  color: white;
  border: 2px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0077e2;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .box-button {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-bottom: 58px !important; } }

.box-disabled {
  font-family: Arial;
  font-size: 30px;
  font-weight: normal;
  color: #7e8e9a;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .box-disabled {
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

.input {
  padding: 40px 0 40px 55px !important;
  -webkit-border-radius: 3px !important;
          border-radius: 3px !important;
  margin-bottom: 50px !important;
  font-size: 32px;
  font-family: Arial;
  font-weight: normal; }
  .input::-webkit-input-placeholder {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #788995; }
  .input::-moz-placeholder {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #788995; }
  .input::-ms-input-placeholder {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #788995; }
  .input::placeholder {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #788995; }

label {
  color: #d4d9dd;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 20px; }

input.error {
  border: 1px solid #ff0000;
  color: red; }
  input.error::-webkit-input-placeholder {
    color: red; }
  input.error::-moz-placeholder {
    color: red; }
  input.error::-ms-input-placeholder {
    color: red; }
  input.error::placeholder {
    color: red; }

label.error {
  color: #ff0000;
  font-weight: normal; }

.switcher-li:hover .switcher-a {
  text-decoration: none;
  color: #3a3f42;
  cursor: pointer; }

.uk-active .switcher-a {
  color: #3a3f42;
  text-decoration: none; }

.uk-active.switcher-li {
  border-bottom: 1px solid #3a3f42; }

.secondItem-title {
  font-family: Arial;
  font-size: 50px;
  font-weight: normal;
  color: #1b2125;
  margin-bottom: 35px; }

.secondItem-box {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: solid 2px #d4d9dd;
  margin-bottom: 105px; }
  .secondItem-box-left {
    padding: 82px;
    border-right: solid 2px #d4d9dd; }
    @media (max-width: 1200px) {
      .secondItem-box-left {
        border-right: none;
        border-bottom: solid 2px #d4d9dd; } }
    .secondItem-box-left-li {
      list-style-type: none;
      font-family: Arial;
      font-size: 30px;
      font-weight: normal;
      color: #5e666c; }
    .secondItem-box-left-button {
      font-family: Arial;
      font-size: 27px;
      font-weight: bold;
      color: #0095f8;
      cursor: pointer;
      margin-right: 50px;
      margin-top: 50px; }

.secondItem-subtitle {
  font-family: Arial;
  font-size: 50px;
  font-weight: normal;
  color: #1b2125;
  margin-bottom: 35px; }

.secondItem-items {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .secondItem-items-left {
    padding: 62px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: solid 2px #d4d9dd;
    width: 49%; }
    @media (max-width: 1200px) {
      .secondItem-items-left {
        width: 100%;
        margin-bottom: 20px; } }
  .secondItem-items-right {
    padding: 62px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: solid 2px #d4d9dd;
    width: 49%; }
    @media (max-width: 1200px) {
      .secondItem-items-right {
        width: 100%;
        margin-bottom: 55px; } }
  .secondItem-items-dsc {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    color: #9b9fa3;
    margin-top: 40px; }
  .secondItem-items-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Arial;
    font-size: 30px;
    color: #212121; }
  .secondItem-items-input {
    width: 35px;
    height: 35px;
    margin-right: 35px;
    cursor: pointer; }
  .secondItem-items span {
    margin-left: 50px; }

.secondItem-buttons {
  margin-top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  @media (max-width: 1200px) {
    .secondItem-buttons {
      margin-top: 0; } }

.secondItem-prev {
  font-family: Arial;
  font-size: 30px;
  font-weight: normal;
  color: #7e8e9a;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .secondItem-prev {
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

.secondItem-continue {
  padding: 45px 85px;
  font-family: Arial;
  font-size: 27px;
  font-weight: bold;
  color: white;
  border: 2px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0077e2;
  cursor: pointer;
  text-transform: uppercase; }
  @media (max-width: 1200px) {
    .secondItem-continue {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-bottom: 58px !important; } }

#YMapsID {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }
