doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(rel="stylesheet", type="text/css", href="css/libs.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", type="text/css", href="fonts/fonts.css")
    title Adel
  body
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src='https://api-maps.yandex.ru/2.1/?apikey=861d01ed-8b7f-4f7f-ba0c-99754fae7e4d&lang=ru_RU&' type='text/javascript')
    script(src="js/jquery.validate.min.js")
    script(src="js/jquery.inputmask.min.js")
    script(src="js/common.js")