extends blocks/_layout

append content
    .uk-section
        .uk-container
            ul.switcher-wrapper.uk-grid-collapse(uk-switcher='' uk-grid)
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 01 Customer info
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 02 Shipping info
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 03 Payment selection
            ul.uk-switcher.switcher-item
                li.box
                    .box-title Customer information
                    form.box-form#form
                        .uk-grid-small(uk-grid)
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='name') FIRST NAME
                                .uk-form-controls
                                    input.input#name.uk-input(type='text' placeholder='FIRST NAME' name='name' pattern="[А-Яа-яЁёa-zA-Z ]+")
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='second-name') SECOND NAME
                                .uk-form-controls
                                    input.input#second-name.uk-input(type='text' placeholder='SECOND NAME')
                            .box-input.uk-width-1-1
                                label(for='address') ADDRESS
                                .uk-form-controls
                                    input.input#address.uk-input(type='text' placeholder='ADDRESS')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='country') COUNTRY
                                .uk-form-controls
                                    input.input#country.uk-input(type='text' placeholder='COUNTRY')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='city') CITY
                                .uk-form-controls
                                    input.input#city.uk-input(type='text' placeholder='CITY')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='postal-code') POSTAL CODE
                                .uk-form-controls
                                    input.input#postal-code.uk-input(type='text' placeholder='POSTAL CODE')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='phone') PHONE
                                .uk-form-controls
                                    input.input#phone.uk-input.mask(type='text' placeholder='+3 8(0__)-__-__-___' name='phone' data-inputmask="'mask': '+3 8(099)-99-99-999'")
                            .box-buttons.uk-width-1-1
                                button.box-disabled Return to shop
                                button.box-button CONTINUE TO SHIPPING
                li.secondItem
                    .secondItem-title Shipping information
                    .secondItem-box.uk-grid-collapse(uk-grid)
                        .secondItem-box-left(class='uk-width-1-2@l uk-width-1-1')
                            ul.secondItem-box-left-ul
                                li.secondItem-box-left-li Taras Shevchenko
                                li.secondItem-box-left-li Unit 2 Green Mount Park
                                li.secondItem-box-left-li Halifax
                                li.secondItem-box-left-li HX1 5QN
                                li.secondItem-box-left-li Phone: +3 8097 132-45-67
                            .secondItem-box-left-buttons
                                button.secondItem-box-left-button Edit Address
                                button.secondItem-box-left-button Add New
                        .secondItem-box-right(class='uk-width-1-2@l uk-width-1-1')
                            #YMapsID
                    .secondItem-subtitle Shipping Method
                    form.secondItem-items#formRadio
                        .secondItem-items-left
                            label.secondItem-items-label
                                input.secondItem-items-input(type='radio' name='radio2')
                                |  Standart Delivery
                                span Free
                            .secondItem-items-dsc Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.
                        .secondItem-items-right
                            label.secondItem-items-label
                                input.secondItem-items-input(type='radio' name='radio2')
                                |  Fast Delivery
                                span 8.00 uah
                            .secondItem-items-dsc Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.
                        .secondItem-buttons
                            button.secondItem-prev(uk-switcher-item='previous') Back to Customer Info
                            button.secondItem-continue Continue to Payment
                li
                    button.secondItem-continue(uk-switcher-item='previous') BACK TO SHIPPING