body
  margin: 0
  font-weight: normal
  font-size: 16px
  color: #000000

  & *
    margin: 0
    padding: 0
    border: 0
    outline: 0
    background-color: transparent
    box-sizing: border-box


