.switcher

  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap

  &-li
    text-align: center
    border-bottom: 2px solid #d4d9dd
    padding: 60px 0
    transition-duration: .5s
    pointer-events: none

    &:hover
      border-bottom: 1px solid #3a3f42

  &-a
    font-family: Arial
    font-weight: bold
    font-size: 27px
    color: #d4d9dd
    transition-duration: .5s

  &-item
    margin-top: 200px

.box

  &-title
    font-family: Arial
    font-size: 50px
    font-weight: normal
    color: #1b2125
    margin-bottom: 115px

  &-buttons
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

  &-button
    padding: 45px 85px
    font-family: Arial
    font-size: 27px
    font-weight: bold
    color: white
    border: 2px solid transparent
    border-radius: 3px
    background-color: #0077e2
    cursor: pointer

    @include media(1200)
      width: 100%
      order: 1
      margin-bottom: 58px !important


  &-disabled
    font-family: Arial
    font-size: 30px
    font-weight: normal
    color: #7e8e9a
    cursor: pointer

    @include media(1200)
      width: 100%
      order: 2

.input
  padding: 40px 0 40px 55px !important
  border-radius: 3px !important
  margin-bottom: 50px !important
  font-size: 32px
  font-family: Arial
  font-weight: normal

  &::placeholder
    font-size: 32px
    font-family: Arial
    font-weight: normal
    color: #788995

label
  color: #d4d9dd
  font-size: 24px
  font-family: Arial
  font-weight: bold
  margin-bottom: 20px


input.error
  border: 1px solid #ff0000
  color: red

  &::placeholder
    color: red

label.error
  color: #ff0000
  font-weight: normal




.switcher-li:hover .switcher-a
  text-decoration: none
  color: #3a3f42
  cursor: pointer

.uk-active .switcher-a
  color: #3a3f42
  text-decoration: none

.uk-active.switcher-li
  border-bottom: 1px solid #3a3f42

.secondItem

  &-title
    font-family: Arial
    font-size: 50px
    font-weight: normal
    color: #1b2125
    margin-bottom: 35px

  &-box
    border-radius: 3px
    border: solid 2px #d4d9dd
    margin-bottom: 105px

    &-left
      padding: 82px
      border-right: solid 2px #d4d9dd

      @include media(1200)
        border-right: none
        border-bottom: solid 2px #d4d9dd

      &-li
        list-style-type: none
        font-family: Arial
        font-size: 30px
        font-weight: normal
        color: #5e666c

      &-button
        font-family: Arial
        font-size: 27px
        font-weight: bold
        color: #0095f8
        cursor: pointer
        margin-right: 50px
        margin-top: 50px

  &-subtitle
    font-family: Arial
    font-size: 50px
    font-weight: normal
    color: #1b2125
    margin-bottom: 35px

  &-items
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between

    &-left
      padding: 62px
      border-radius: 3px
      border: solid 2px #d4d9dd
      width: 49%

      @include media(1200)
        width: 100%
        margin-bottom: 20px

    &-right
      padding: 62px
      border-radius: 3px
      border: solid 2px #d4d9dd
      width: 49%

      @include media(1200)
        width: 100%
        margin-bottom: 55px

    &-dsc
      font-family: Arial
      font-size: 30px
      font-weight: normal
      color: #9b9fa3
      margin-top: 40px

    &-label
      display: flex
      align-items: center
      font-family: Arial
      font-size: 30px
      color: #212121

    &-input
      width: 35px
      height: 35px
      margin-right: 35px
      cursor: pointer

    & span
      margin-left: 50px

  &-buttons
    margin-top: 90px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    width: 100%

    @include media(1200)
      margin-top: 0

  &-prev
    font-family: Arial
    font-size: 30px
    font-weight: normal
    color: #7e8e9a
    cursor: pointer

    @include media(1200)
      width: 100%
      order: 2


  &-continue
    padding: 45px 85px
    font-family: Arial
    font-size: 27px
    font-weight: bold
    color: white
    border: 2px solid transparent
    border-radius: 3px
    background-color: #0077e2
    cursor: pointer
    text-transform: uppercase

    @include media(1200)
      width: 100%
      order: 1
      margin-bottom: 58px !important


#YMapsID
  width: 100%
  height: 100%
  padding: 0
  margin: 0